h1 {
    text-align: center;
    color: brown;
    background-color: rgba(175, 174, 174, 0.527);
}
body {
    background-color: rgba(119, 233, 233, 0.596);
}
h2 {
    text-align: center;
    color: brown;
}
button {
    text-align: center;
    background-color: brown;
} 
h3 {
    text-align: center;
    color: brown;
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }